.card{
  padding: 0.5rem 1rem;
  border: 1px dashed #0f6674;
  margin-bottom: .2rem;
}

h4, button {
  margin-bottom: .1rem;
  padding: 0.5rem 1rem;
}


.text {
  font-size: 1.5rem;

  &.red {
    color: red
  }

  &.blue {
    color: blue
  }

  &.green {
    color: green;
  }
}
