<div class="container-demo">


  <br>

  <h4>Добро пожаловать!</h4>
  <hr>

  <button (click)="toggleCards()"> Toggle cards </button>

  <hr>
  <br>
  <br>
  <!--  <app-form></app-form>-->
  <div *ngIf="toggle, else noCards">
    <app-card
      *ngFor="let iters of cards; let idx = index"
      [card] = "iters"
      [index]="idx"
    ></app-card>
    <!--    <app-card></app-card>-->
    <!--    <app-card></app-card>-->


  </div>

  <ng-template #noCards>
    <p>cards are hidden!</p>
  </ng-template>




</div>
